
services:
  scheduler:
    build: .
    container_name: scheduler_app
    command: python scheduler.py
    working_dir: /app
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
